.SongPrew {
	width: fit-content;
	display: flex;
	flex-direction: column;
	padding: 8px;
	border-radius: 10px;
	background-color: var(--card-background-color);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	margin: 8px;
	animation: appear 0.6s ease-in-out;
	cursor: pointer;
}

.CoverImg {
	aspect-ratio: 1/1;
	height: 10rem;
	border-radius: 8px;
	transition: transform 0.2s;
}

.SongPrew .CoverImg:hover {
	transform: scale(0.95);
}

.Info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Title {
	display: flex;
	flex-direction: column;
	width: 130px;

}

.TitleName {
	font-weight: bold;
	font-size: 16px;
   white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.TitleAuthor {
	font-size: 14px;
   white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}



@keyframes appear {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }
}

