

.Swiper {
  transition: all 0.2s ease-in-out;
}



.Title {
  font-weight: bold;
  font-size: 18px;
  margin: 8px;
  margin-left: 16px;
  transition: all 0.2s ease-in-out;
}

.Skeleton {
  border-radius: 20px;
  width: 500px;
}